.titolsLlista{
    font-size: 14px;
    text-align: start !important;
    text-transform: lowercase;
}


.th{
    border-top: none !important;
    text-align: start !important;
    letter-spacing: 1px;
}

